<ion-view view-title=" Submit Your Ad">
    <ion-nav-buttons side="right" ng-show="images[0]">
        <button class="button button-icon icon ion-plus-circled" ng-click="selImages()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-slide-box auto-play="false" does-continue ="true" slide-interval="3000">
            <ion-slide class="slideimg" ng-show="!images[0]">
                <a ng-click="selImages()">
                    <div class="hero photoadd">
                        <div class="content">
                            <div class="avatar photo" style=""></div>
                            <h3><span class="dark">Add Photo</span></h3>
                        </div>
                    </div>
                </a>
            </ion-slide>
            <ion-slide class="slideimg" ng-repeat="img in images" ng-show="images.length > 0">
                <img ng-src="{{img.image}}" ng-click="showConfirm($index)" style="height:250px;display:block">
            </ion-slide>
        </ion-slide-box>
        <div class="item infos">
         <p>Ads with photos sell up to 5 more</p>
        </div>
        <div class="list addchoice">
            <div class="item item-icon-left" ng-click="openListcategorie()"  >
                <img class="one" src="img/ico_post_one.png">
                Select a categorie
            </div>
            <a href="#/app/description">
                <div class="item item-icon-left" >
                    <img class="two" src="img/ico_post_two.png">
                    Describe your item
                </div>
            </a>
            <a href="#/app/contact">
                <div class="item item-icon-left">
                    <img class="three" src="img/ico_post_three.png">
                    Add your infos
                </div>
            </a>
        </div>
        <button class=" bar  bar-stable">
            Sumbit Now
        </button>
    </ion-content>
</ion-view>
