
<ion-view view-title="Name categories">
  <ion-content>

    <ion-item>
    <div class="row">
      <div class="col col-50">
        <div>
          <div class="post"><label class="left"> Nombre categories </label></div>
        </div>
      </div>
      <div class="col"> </div>
      <div>
        <button class="button button-outline button-positive  button-small" >
          Filter
        </button>
      </div>
    </div>
    </ion-item>


    <div class="list">
    <!--<div class="row">     -->
      <a class="item item-thumbnail-left cadre-image " href="#">
      <!--<div class="col col-50"> -->

        <img src="../img/berangerphotos/img1.jpg"  class="dimension-image" >

      <!--</div>   -->
      <!--<div class="alignement" id="texts" style="float: left;">   -->
        <div class="row row-center item-left">
        <div class="col">
          <h3>
            <span>Pretty Hate Machine</span>
          </h3>
          <p>
            <span>Nine Inch Nails</span>
          </p>
          <h2 class="couleurText post-col-text ">
            <span style="float: left;">Negociable</span>
            <span style="float: right;">15.000cfa</span>
          </h2>
            </div>
        </div>
      </a>
     <!-- </div>     -->


      <!--<div class="row">     -->
      <a class="item item-thumbnail-left cadre-image " href="#">
        <!--<div class="col col-50"> -->

        <img src="../img/berangerphotos/img2.jpg"  class="dimension-image" >

        <!--</div>   -->
        <!--<div class="alignement" id="texts" style="float: left;">   -->
        <div class="row row-center item-left">
          <div class="col">
            <h3>
              <span>Pretty Hate Machine</span>
            </h3>
            <p>
              <span>Nine Inch Nails</span>
            </p>
            <h2 class="couleurText post-col-text ">
              <span style="float: left;">Negociable</span>
              <span style="float: right;">15.000cfa</span>
            </h2>
          </div>
        </div>
      </a>
      <!-- </div>     -->


      <!--<div class="row">     -->
      <a class="item item-thumbnail-left cadre-image " href="#">
        <!--<div class="col col-50"> -->

        <img src="../img/berangerphotos/img3.jpg"  class="dimension-image" >

        <!--</div>   -->
        <!--<div class="alignement" id="texts" style="float: left;">   -->
        <div class="row row-center item-left">
          <div class="col">
            <h3>
              <span>Pretty Hate Machine</span>
            </h3>
            <p>
              <span>Nine Inch Nails</span>
            </p>
            <h2 class="couleurText post-col-text ">
              <span style="float: left;">Negociable</span>
              <span style="float: right;">15.000cfa</span>
            </h2>
          </div>
        </div>
      </a>
      <!-- </div>     -->

      <!--<div class="row">     -->
      <a class="item item-thumbnail-left cadre-image " href="#">
        <!--<div class="col col-50"> -->

        <img src="../img/berangerphotos/img4.jpg"  class="dimension-image" >

        <!--</div>   -->
        <!--<div class="alignement" id="texts" style="float: left;">   -->
        <div class="row row-center item-left">
          <div class="col">
            <h3>
              <span>Pretty Hate Machine</span>
            </h3>
            <p>
              <span>Nine Inch Nails</span>
            </p>
            <h2 class="couleurText post-col-text ">
              <span style="float: left;">Negociable</span>
              <span style="float: right;">15.000cfa</span>
            </h2>
          </div>
        </div>
      </a>
      <!-- </div>     -->

      <!--<div class="row">     -->
      <a class="item item-thumbnail-left cadre-image " href="#">
        <!--<div class="col col-50"> -->

        <img src="../img/berangerphotos/img5.jpg"  class="dimension-image" >

        <!--</div>   -->
        <!--<div class="alignement" id="texts" style="float: left;">   -->
        <div class="row row-center item-left">
          <div class="col">
            <h3>
              <span>Pretty Hate Machine</span>
            </h3>
            <p>
              <span>Nine Inch Nails</span>
            </p>
            <h2 class="couleurText post-col-text ">
              <span style="float: left;">Negociable</span>
              <span style="float: right;">15.000cfa</span>
            </h2>
          </div>
        </div>
      </a>
      <!-- </div>     -->

      <!--<div class="row">     -->
      <a class="item item-thumbnail-left cadre-image " href="#">
        <!--<div class="col col-50"> -->

        <img src="../img/berangerphotos/img6.jpg"  class="dimension-image" >

        <!--</div>   -->
        <!--<div class="alignement" id="texts" style="float: left;">   -->
        <div class="row row-center item-left">
          <div class="col">
            <h3>
              <span>Pretty Hate Machine</span>
            </h3>
            <p>
              <span>Nine Inch Nails</span>
            </p>
            <h2 class="couleurText post-col-text ">
              <span style="float: left;">Negociable</span>
              <span style="float: right;">15.000cfa</span>
            </h2>
          </div>
        </div>
      </a>
      <!-- </div>     -->

      <!--<div class="row">     -->
      <a class="item item-thumbnail-left cadre-image " href="#">
        <!--<div class="col col-50"> -->

        <img src="../img/berangerphotos/img7.jpg"  class="dimension-image" >

        <!--</div>   -->
        <!--<div class="alignement" id="texts" style="float: left;">   -->
        <div class="row row-center item-left">
          <div class="col">
            <h3>
              <span>Pretty Hate Machine</span>
            </h3>
            <p>
              <span>Nine Inch Nails</span>
            </p>
            <h2 class="couleurText post-col-text ">
              <span style="float: left;">Negociable</span>
              <span style="float: right;">15.000cfa</span>
            </h2>
          </div>
        </div>
      </a>
      <!-- </div>     -->

      <!--<div class="row">     -->
      <a class="item item-thumbnail-left cadre-image " href="#">
        <!--<div class="col col-50"> -->

        <img src="../img/berangerphotos/img8.jpg"  class="dimension-image" >

        <!--</div>   -->
        <!--<div class="alignement" id="texts" style="float: left;">   -->
        <div class="row row-center item-left">
          <div class="col">
            <h3>
              <span>Pretty Hate Machine</span>
            </h3>
            <p>
              <span>Nine Inch Nails</span>
            </p>
            <h2 class="couleurText post-col-text ">
              <span style="float: left;">Negociable</span>
              <span style="float: right;">15.000cfa</span>
            </h2>
          </div>
        </div>
      </a>
      <!-- </div>     -->

      <!--<div class="row">     -->
      <a class="item item-thumbnail-left cadre-image " href="#">
        <!--<div class="col col-50"> -->

        <img src="../img/berangerphotos/img8.jpg"  class="dimension-image" >

        <!--</div>   -->
        <!--<div class="alignement" id="texts" style="float: left;">   -->
        <div class="row row-center item-left">
          <div class="col">
            <h3>
              <span>Pretty Hate Machine</span>
            </h3>
            <p>
              <span>Nine Inch Nails</span>
            </p>
            <h2 class="couleurText post-col-text ">
              <span style="float: left;">Negociable</span>
              <span style="float: right;">15.000cfa</span>
            </h2>
          </div>
        </div>
      </a>
      <!-- </div>     -->

      <!--<div class="row">     -->
      <a class="item item-thumbnail-left cadre-image " href="#">
        <!--<div class="col col-50"> -->

        <img src="../img/berangerphotos/img10.jpg"  class="dimension-image" >

        <!--</div>   -->
        <!--<div class="alignement" id="texts" style="float: left;">   -->
        <div class="row row-center item-left">
          <div class="col">
            <h3>
              <span>Pretty Hate Machine</span>
            </h3>
            <p>
              <span>Nine Inch Nails</span>
            </p>
            <h2 class="couleurText post-col-text ">
              <span style="float: left;">Negociable</span>
              <span style="float: right;">15.000cfa</span>
            </h2>
          </div>
        </div>
      </a>
      <!-- </div>     -->

    </div>

  </ion-content>
</ion-view>
