
<ion-view view-title="Name categories">
  <ion-content>


    <div id="containner">
      <a class="item item-left" href="#">
      <div id="image" style="float: left;">
        <a href="#/app/categoriesDetail">
        <img src="../img/berangerphotos/img1.jpg"  ng-click='selectedItemDetail()' height="75" width="100" align="left">
      </a>
      </div>

      <div class="alignement" id="texts" style="float: left;">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>

      </div>
    </a>
    {{cyril}}
    <div ng-repeat="x in image"> {{ x.src }} </div>
    

      <a class="item item-left" href="#">
        <div id="image2" style="float: left;">
          <img src="../img/berangerphotos/img2.jpg"  height="75" width="100" align="left">
        </div>

        <div class="alignement" id="texts2" style="float: left;">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>

        </div>
      </a>

      <a class="item item-left" href="#">
        <div id="image3" style="float: left;">
          <img src="../img/berangerphotos/img3.jpg"  height="75" width="100" align="left">
        </div>

        <div class="alignement" id="texts3" style="float: left;">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>

        </div>
      </a>

      <a class="item item-left" href="#">
        <div id="image4" style="float: left;">
          <img src="../img/berangerphotos/img4.jpg"  height="75" width="100" align="left">
        </div>

        <div class="alignement" id="texts4" style="float: left;">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>

        </div>
      </a>

      <a class="item item-left" href="#">
        <div id="image5" style="float: left;">
          <img src="../img/berangerphotos/img5.jpg"  height="75" width="100" align="left">
        </div>

        <div class="alignement" id="texts5" style="float: left;">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>

        </div>
      </a>

      <a class="item item-left" href="#">
        <div id="image6" style="float: left;">
          <img src="../img/berangerphotos/img6.jpg"  height="75" width="100" align="left">
        </div>

        <div class="alignement" id="texts6" style="float: left;">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>

        </div>
      </a>

      <a class="item item-left" href="#">
        <div id="image7" style="float: left;">
          <img src="../img/berangerphotos/img7.jpg"  height="75" width="100" align="left">
        </div>

        <div class="alignement" id="texts7" style="float: left;">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>

        </div>
      </a>

      <a class="item item-left" href="#">
        <div id="image8" style="float: left;">
          <img src="../img/berangerphotos/img8.jpg"  height="75" width="100" align="left">
        </div>

        <div class="alignement" id="texts8" style="float: left;">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>

        </div>
      </a>

      <a class="item item-left" href="#">
        <div id="image9" style="float: left;">
          <img src="../img/berangerphotos/img9.jpg"  height="75" width="100" align="left">
        </div>

        <div class="alignement" id="texts9" style="float: left;">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>

        </div>
      </a>

      </div>






  </ion-content>
</ion-view>
