
<ion-view view-title="Name categories">
  <ion-content>
        <div class="row taille-btn">
          <button class="button button-outline button-positive  button-small ">
              sub-cat
          </button>
          <button class="button button-outline button-positive  button-small">
              Filter
          </button>
        </div>
        <div class="row nbre">
            <span>30 categories</span>
        </div>
    <div class="list headline">
    <!--<div class="row">     -->
      <a class="item item-thumbnail-left cadre-image " href="#">
      <!--<div class="col col-50"> -->

        <img src="../img/berangerphotos/img1.jpg"  class="dimension-image" >

      <!--</div>   -->
      <!--<div class="alignement" id="texts" style="float: left;">   -->
        <div class="row row-center item-left">
            <div class="col">
          <h3>
            <span>Pretty Hate Machine</span>
          </h3>
          <p>
            <span>Nine Inch Nails</span>
          </p>
          <h2 class="couleurText post-col-text ">
            <span style="float: left; font-size: small">Negociable</span>
              <span style="float: right;"  class="couleur-text-prix">15.000cfa</span>
          </h2>

            </div>
            </div>
    </a>


    </div>

  </ion-content>
</ion-view>
