
<ion-view view-title="{{text}} 90 000 $">
  <ion-content>


    <div id="containner">
        <ion-slide-box auto-play="false" does-continue ="true" slide-interval="3000">
            <ion-slide class="slideimg" ng-repeat="x in slideImg">
                    <img src="{{x.img}}" class="animated rotateIn">
            </ion-slide>
          </ion-slide-box>

      <div class="item detail">
         <div class="row">
             <div class="col font">
                 <h1 class="font-title">
                    Laptop
                 </h1>
             </div>
         </div>
         <div class="row">
             <div class="col font-text">
                 <h2>
                    Lenovo T60
                 </h2>
             </div>
             <div class="col font-text">
                 <h2>
                    Par Beranger
                 </h2>
             </div>
         </div>
         <div class="row">
             <div class="col font-text">
                 <h2>
                    Etat Neuf
                 </h2>
             </div>
             <div class="col font-text">
                 <h2>
                    Douala, Cameroun
                 </h2>
             </div>
         </div>
         <div class="row">
             <div class="col font-text-date">
                 <h2>
                    publié le 24-11-2015 à 15h-10 min
                 </h2>
             </div>
         </div>
         <div class="row">
             <div class="col font">
                 <h1 class="font-prix">
                    15 000 fcfa
                 </h1>
             </div>
         </div>
      </div>
     <div class="list font-desc">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ordinateur personnel à vendre; Ram:2Go, processeur dual cor de 2.4 GHz, Ecran 15 pouces, Carte graphique: 700 Mo
     </div>
    </div>
</ion-content>
    <div class="bar bar-footer">
        <div class="tabs tabs-icon-top subtabs">
            <a class="tab-item active">
                <i class="icon ion-android-call"></i>
                Call
            </a> <a class="tab-item">
                <i class="icon ion-android-mail"></i>
                SMS
            </a> <a class="tab-item">
                <i class="icon ion-android-chat"></i>
                Message
            </a>
         </div>
    </div>
</ion-view>
