<ion-view view-title="Name categories">
  <ion-content>
        <div class="row">
            <div class="col col-70 color animated fadeInLeft" >
              <button class="button button-positive  button-small taille1" ui-sref="app.technology">
                  sub-cat
              </button>
            </div>
            <div class="col animated fadeInRight" >
              <button class="button button-positive  button-small taille2">
                  Filter
              </button>
            </div>
        </div>
        <div class="row nbre">
            <span>30 categories</span>
        </div>
    <div class="list card headline font animated fadeInDown" >
      <a class="item item-thumbnail-left cadre-image " href="#/app/categoriesDetail">
        <img src="img/berangerphotos/img6.jpg"  class="dimension-image animated rotateInDownLeft" >
        <div class="row row-center item-left">
            <div class="col">
              <h3>
                <span>Pretty Hate Machine</span>
              </h3>
              <p>
                <span>Nine Inch Nails</span>
              </p>
              <h2 class="couleurText post-col-text ">
                <span style="float: left; font-size: small">Negociable</span>
                  <span style="float: right;"  class="couleur-text-prix">15.000cfa</span>
              </h2>
            </div>
        </div>
      </a>
    </div>
    <div class="list card headline font animated fadeInDown" >
      <a class="item item-thumbnail-left cadre-image " href="#/app/categoriesDetail">
        <img src="img/berangerphotos/img5.jpg"  class="dimension-image animated rotateInDownLeft" >
        <div class="row row-center item-left">
            <div class="col">
              <h3>
                <span>Pretty Hate Machine</span>
              </h3>
              <p>
                <span>Nine Inch Nails</span>
              </p>
              <h2 class="couleurText post-col-text ">
                <span style="float: left; font-size: small">Negociable</span>
                  <span style="float: right;"  class="couleur-text-prix">15.000cfa</span>
              </h2>
            </div>
        </div>
      </a>
    </div>
    <div class="list card headline font animated fadeInDown" >
      <a class="item item-thumbnail-left cadre-image " href="#/app/categoriesDetail">
        <img src="img/berangerphotos/img1.jpg"  class="dimension-image animated rotateInDownLeft" >
        <div class="row row-center item-left">
            <div class="col">
              <h3>
                <span>Pretty Hate Machine</span>
              </h3>
              <p>
                <span>Nine Inch Nails</span>
              </p>
              <h2 class="couleurText post-col-text ">
                <span style="float: left; font-size: small">Negociable</span>
                  <span style="float: right;"  class="couleur-text-prix">15.000cfa</span>
              </h2>
            </div>
        </div>
      </a>
    </div>
    <div class="list card headline font animated fadeInDown" >
      <a class="item item-thumbnail-left cadre-image " href="#/app/categoriesDetail">
        <img src="img/berangerphotos/img2.jpg"  class="dimension-image animated rotateInDownLeft" >
        <div class="row row-center item-left">
            <div class="col">
              <h3>
                <span>Pretty Hate Machine</span>
              </h3>
              <p>
                <span>Nine Inch Nails</span>
              </p>
              <h2 class="couleurText post-col-text ">
                <span style="float: left; font-size: small">Negociable</span>
                  <span style="float: right;"  class="couleur-text-prix">15.000cfa</span>
              </h2>
            </div>
        </div>
      </a>
    </div>
    <div class="list card headline font animated fadeInDown" >
      <a class="item item-thumbnail-left cadre-image " href="#/app/categoriesDetail">
        <img src="img/berangerphotos/img3.jpg"  class="dimension-image animated rotateInDownLeft" >
        <div class="row row-center item-left">
            <div class="col">
              <h3>
                <span>Pretty Hate Machine</span>
              </h3>
              <p>
                <span>Nine Inch Nails</span>
              </p>
              <h2 class="couleurText post-col-text ">
                <span style="float: left; font-size: small">Negociable</span>
                  <span style="float: right;"  class="couleur-text-prix">15.000cfa</span>
              </h2>
            </div>
        </div>
      </a>
    </div>
    <div class="list card headline font animated fadeInDown" >
      <a class="item item-thumbnail-left cadre-image " href="#/app/categoriesDetail">
        <img src="img/berangerphotos/img4.jpg"  class="dimension-image animated rotateInDownLeft" >
        <div class="row row-center item-left">
            <div class="col">
              <h3>
                <span>Pretty Hate Machine</span>
              </h3>
              <p>
                <span>Nine Inch Nails</span>
              </p>
              <h2 class="couleurText post-col-text ">
                <span style="float: left; font-size: small">Negociable</span>
                  <span style="float: right;"  class="couleur-text-prix">15.000cfa</span>
              </h2>
            </div>
        </div>
      </a>
    </div>

  </ion-content>
</ion-view>
