
<ion-view view-title="{{text}} 90 000 $">
  <ion-content>


    <div id="containner">
                <ion-slide-box auto-play="false" does-continue ="true" slide-interval="3000">
            <ion-slide class="slideimg" ng-repeat="x in slideImg">
              <div>
                    <img src="{{x.img}}">
              </div>
            </ion-slide>
          </ion-slide-box>

      <div class="item detail">
         <div class="row">
             <div class="col"></div>
             <div class="col"></div>
             <div class="col"></div>
             <div class="col">Prix de l'article</div>
         </div>
          <div class="row">
              <div class="col">Une petite description</div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col">Negociable</div>
          </div>
          <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col">Autre text</div>
              <div class="col"></div>
          </div>
      </div>
      
           <div> 
            <div class="item item-divider">
             wertfvgbhufesrdtfgyhuhjnhbnu
           </div>
               <div class="row">
                   <div class="col"></div>
                   <div class="col"></div>
                   <div class="card coul">
                    sdfghjkdfghjk
                   </div>
                   <div class="col"></div>
               </div>
         </div>
      </div>
<!-- 

 //////////////////////////////-->  
</ion-content>
<ion-tabs class="tabs-positive tabs-icon-top">

  <ion-tab title="Call" icon-on="ion-android-call" icon-off="ion-android-call">
    <!-- Tab 1 content -->
  </ion-tab>

  <ion-tab title="SMS" icon-on="ion-android-mail" icon-off="ion-android-mail">
    <!-- Tab 2 content -->
  </ion-tab>

  <ion-tab title="Message" icon-on="ion-android-chat" icon-off="ion-android-chat">
    <!-- Tab 3 content -->
  </ion-tab>

</ion-tabs>





</ion-view>
