<ion-view view-title="Select a Categories">
    <ion-content>
      <div class="list element">
          <div class="item item-icon-left">
              <i class="icon icon3"></i>
              All in Home - Furniture - Garden
          </div>
          <div class="list select">
              <a class="item">Furniture - Decor - Garden</a>
              <a class="item">Home Appliances</a>
              <a class="item">Other Home - Furniture - Garden</a>
          </div>
      </div>

    </ion-content>
</ion-view>
