<ion-view view-title="Select a Categories">
    <ion-content>
      <div class="list element">
          <div class="item item-icon-left">
              <i class="icon icon4 ion-android-bicycle"></i>
              All in Hobbies - Art - Sports
          </div>
          <div class="list select">
              <a class="item">Musical instruments</a>
              <a class="item">Books - CD - DVD</a>
              <a class="item">Sporting goods - Bicycles</a>
          </div>
      </div>

    </ion-content>
</ion-view>
