<ion-view view-title="{{ 'ht' | translate }}">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-android-search">
    </button>
    <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list locate">
      <div class="item item-button-right">
       <p translate="hp1">My location</p>
        <p>{{homecity}}, {{homecountry}}</p>
        <a class="button button-small button-stable" ng-click="openChange()">
          Change
        </a>
      </div>
    </div>
    <div class="btnAd">
      <button class="button button-block button-energized-900 icon-left ion-compose" ui-sref="app.add" translate="ad">
        Submit Ad
      </button>
    </div>
      <div class="item-divider last" translate="last">Lastest Article</div>
    <ks-swiper-container initial-slide="3" speed="2000" loop="true" show-nav-buttons="false" slides-per-view="3" space-between="5" pagination-clickable="false" override-parameters="{effect: 'coverflow',coverflow: {rotate: 50,stretch: 0,depth: 100,modifier: 1,slideShadows : false}}"  on-ready="onReadySwiper(swiper)">
      <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
        <div class="feed-item">
          <div class="feed-media">
        <img ng-src="img/{{s}}.jpg" width="100%" height="120px">
            <div class="feed-gradient-overlay"></div>
            <h6 class="feed-title">15 000cfa</h6>
          </div>
        </div>
      </ks-swiper-slide>
    </ks-swiper-container>
    <div class="list selectcat">
      <div class="item item-divider" translate="cat">Categories</div>
      <a class="item item-icon-left"  href="#/app/categories">
        <i class="icon icon1 ion-android-desktop"></i>
        <p translate="cat1">Technology - Electronics</p>
      </a>
      <a class="item item-icon-left"  href="#/app/categoriesfashion">
        <i class="icon icon2 ion-tshirt"></i>
        <p translate="cat2">Fashion and Beauty</p>
      </a>
      <a class="item item-icon-left"  href="#/app/categoriesfurniture">
        <i class="icon icon3 ion-ios-albums"></i>
        <p translate="cat3"> Home - Furniture - Garden</p>
      </a>
      <a class="item item-icon-left"  href="#/app/categorieshobbies">
        <i class="icon icon4 ion-android-bicycle"></i>
        <p translate="cat4">Hobbies - Art - Sports</p>
      </a>
      <a class="item item-icon-left"  href="#/app/categoriesfarming">
        <i class="icon icon5 ion-android-bus"></i>
        <p translate="cat5">Farming - Animals</p>
      </a>
      <a class="item item-icon-left"  href="#/app/categoriesvehicules">
        <i class="icon icon6 ion-model-s"></i>
        <p translate="cat6">Vehicles</p>
      </a>
      <a class="item item-icon-left"  href="#/app/categoriesreal">
        <i class="icon icon7 ion-android-home"></i>
        <p translate="cat7">Real Estate</p>
      </a>
      <a class="item item-icon-left"  href="#/app/categoriesservices">
        <i class="icon icon8 ion-briefcase"></i>
        <p translate="cat8">Jobs and Services</p>
      </a>
    </div>
  </ion-content>
</ion-view>
