<ion-view view-title="{{ 'ht' | translate }}">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a ng-href="#/app/add"><button class="button button-icon button-clear ion-edit"></button></a>
    <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)">
    </button>
  </ion-nav-buttons>
  <ion-content class="main">
    <div class="list locate">
      <div class="item">
        <div class="row">
        <i class="icon ion-location mapicon"></i>
        <p class="item-note">Yaoundé, cameroun</p>
        <span class="locat">
          <strong>Location</strong>
           <a ng-click="openChange()">
             <i class="icon ion-arrow-down-b mapico"></i>
           </a>
        </span>
        </div>
      </div>
    </div>
    <div class="btnAd">
      <button class="button button-block button-energized-900 icon-left ion-compose" ui-sref="app.add">
        Submit a free Ad
      </button>
    </div>
    <div class="card plan">
      <img src="img/plane.jpg">
    </div>
      <div class="item-divider last" translate="last">Lastest Article</div>
    <ks-swiper-container initial-slide="3" speed="2000" loop="true" show-nav-buttons="false" slides-per-view="3" space-between="5" pagination-clickable="false" override-parameters="{effect: 'coverflow',coverflow: {rotate: 50,stretch: 0,depth: 100,modifier: 1,slideShadows : false}}"  on-ready="onReadySwiper(swiper)">
      <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
        <div class="pull-left text-center">
        <img ng-src="img/{{s}}.jpg" width="100%" height="120px">
            <div class="small grey relative-text-16 adprice">15 000 FCFA</div>
        </div>
      </ks-swiper-slide>
    </ks-swiper-container>
    <div class="item-divider last"><Strong>Browse By Category</Strong></div>
    <ks-swiper-container initial-slide="3" speed="2000" loop="true" show-nav-buttons="false" slides-per-view="3" space-between="5" pagination-clickable="false"  on-ready="onReadySwiper(swiper)">
      <ks-swiper-slide class="swiper-slide" ng-repeat="s in cat">
        <a ng-click="catshow(s.namecat,s.idcat)">
        <div class="browseby">
          <div class="browse">
            <div class="a">
              <i ng-class="getIcon('{{s.namecat}}')"></i>
            </div>
          </div>
          <p>{{s.namecat}}</p>
        </div>
        </a>
      </ks-swiper-slide>
    </ks-swiper-container>
    <div class="contient">
    <div class="list morelist">
      <div class="item item-button-right">
        <Strong>Automobiles</Strong>
        <button class="button button-small button-positive">
          MORE
        </button>
      </div>
    </div>
      <div class="row cardlist">
        <div class="col">
          <div class="card">
            <div class="img">
            <img src="img/1.jpg">
            </div>
            <div class="tail">
              <span> Techno J5 16 Go</span>
              <p><strong>150 000 FCFA</strong></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="img">
            <img src="img/2.jpg">
            </div>
            <div class="tail">
              <span> Techno J5 16 Go</span>
              <p><strong>150 000 FCFA</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div><div class="contient">
    <div class="list morelist">
      <div class="item item-button-right">
        <Strong>Jobs</Strong>
        <button class="button button-small button-positive">
          MORE
        </button>
      </div>
    </div>
      <div class="row cardlist">
        <div class="col">
          <div class="card">
            <div class="img">
            <img src="img/3.jpg">
            </div>
            <div class="tail">
              <span> Techno J5 16 Go</span>
              <p><strong>150 000 FCFA</strong></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="img">
            <img src="img/4.jpg">
            </div>
            <div class="tail">
              <span> Techno J5 16 Go</span>
              <p><strong>150 000 FCFA</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div><div class="contient">
    <div class="list morelist">
      <div class="item item-button-right">
        <Strong>Services</Strong>
        <button class="button button-small button-positive">
          MORE
        </button>
      </div>
    </div>
      <div class="row cardlist">
        <div class="col">
          <div class="card">
            <div class="img">
            <img src="img/5.jpg">
            </div>
            <div class="tail">
              <span> Techno J5 16 Go</span>
              <p><strong>150 000 FCFA</strong></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="img">
            <img src="img/6.jpg">
            </div>
            <div class="tail">
              <span> Techno J5 16 Go</span>
              <p><strong>150 000 FCFA</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div><div class="contient">
    <div class="list morelist">
      <div class="item item-button-right">
        <Strong>For Sale</Strong>
        <button class="button button-small button-positive">
          MORE
        </button>
      </div>
    </div>
      <div class="row cardlist">
        <div class="col">
          <div class="card">
            <div class="img">
            <img src="img/7.jpg">
            </div>
            <div class="tail">
              <span> Techno J5 16 Go</span>
              <p><strong>150 000 FCFA</strong></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="img">
            <img src="img/8.jpg">
            </div>
            <div class="tail">
              <span> Techno J5 16 Go</span>
              <p><strong>150 000 FCFA</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
