<ion-modal-view>
      <ion-header-bar class="bar bar-header bar-balanced" align-title="left">
          <button class="button icon-back ion-chevron-left button-clear button-dark" ng-click="closeListcat()">
          </button>
       <h1 class="title">Choose a categorie</h1>
      </ion-header-bar>
    <ion-content>
    <div class="list selectcat">
      <a class="item item-icon-left" href="" ng-click="openListtechnology()">
        <i class="icon icon1 ion-android-desktop"></i>
        Technology - Electronics
      </a>
      <a class="item item-icon-left"  href="" ng-click="openFashion()">
        <i class="icon icon2 ion-tshirt"></i>
        Fashion and Beauty
      </a>
      <a class="item item-icon-left"  href="" ng-click="openFurniture()">
        <i class="icon icon3 ion-ios-albums"></i>
        Home - Furniture - Garden
      </a>
      <a class="item item-icon-left"  href="" ng-click="openHobbies()">
        <i class="icon icon4 ion-android-bicycle"></i>
        Hobbies - Art - Sports
      </a>
      <a class="item item-icon-left"  href="" ng-click="openFarming()">
        <i class="icon icon5 ion-android-bus"></i>
        Farming - Animals
      </a>
      <a class="item item-icon-left"  href="" ng-click="openVehicules()">
        <i class="icon icon6 ion-model-s"></i>
        Vehicules
      </a>
      <a class="item item-icon-left"  href="" ng-click="openReal()">
        <i class="icon icon7 ion-android-home"></i>
        Real Estate
      </a>
      <a class="item item-icon-left"  href="" ng-click="openServices()">
        <i class="icon icon8 ion-briefcase"></i>
        Jobs and Services
      </a>
    </div>
    </ion-content>
</ion-modal-view>
