<ion-modal-view>
      <ion-header-bar class="bar bar-header bar-balanced" align-title="left">
          <button class="button icon-back ion-chevron-left button-clear button-dark" ng-click="closeListcat()">
          </button>
       <h1 class="title">Choose a categorie</h1>
      </ion-header-bar>
    <ion-content>
    <div class="list selectcat">
      <a class="item item-icon-left" href="">
        <i class="icon icon1 ion-model-s"></i>
          Automobiles
      </a>
      <a class="item item-icon-left"  href="" >
        <i class="icon icon2 ion-android-plane"></i>
          Property
      </a>
      <a class="item item-icon-left"  href="" >
        <i class="icon icon3 ion-briefcase"></i>
       Jobs
      </a>
      <a class="item item-icon-left"  href="" >
        <i class="icon icon4 ion-wrench"></i>
          Services
      </a>
      <a class="item item-icon-left"  href="" >
        <i class="icon icon5 ion-ios-book"></i>
          Learning
      </a>
      <a class="item item-icon-left"  href="" >
        <i class="icon icon6 ion-ios-paw"></i>
          Pets
      </a>
      <a class="item item-icon-left"  href="" >
        <i class="icon icon7 ion-android-home"></i>
         For Sale
      </a>
      <a class="item item-icon-left"  href="">
        <i class="icon icon8 ion-ios-people"></i>
          Community
      </a>
    </div>
    </ion-content>
</ion-modal-view>
