<ion-view view-title = "My Ads">
    <ion-content>
        <div class="center wow animated">
            <div class="row row-center dim-btn">
                <div class="col col-70 color" >
                    <h6>
                        <span class="crop">22 results in Douala</span>
                    </h6>
                </div>
                <div class="col color">
                    <!--<ion-item href="#/app/filter">
                        <i>-->
                        <a href="#/app/filter">
                          <button class="button button-positive  button-small">
                              Filers
                          </button>
                        </a>
                        <!--</i>
                    </ion-item>-->    
                </div>
            </div>
          <div class="list card animated fadeInDown">
            <a class="item item-thumbnail-left" href="#">
                    <img src="img/berangerphotos/img1.jpg">
                    <div class="row row-center item-left">
                        <div class="col">
                            <h2>
                                <span class="crop">
                                    15 days ago in Douala
                                </span>
                            </h2>
                            <p>
                                <span class="crop ">
                            1 Go de RAM, android 5.1, processeur core i3 de 2.1
                                </span>
                            </p>
                            <h2>
                                <span class="negociable">
                                    Negociable
                                </span>
                                <span class=" color right">
                                15000 fcfa
                                </span>
                            </h2>
                        </div>
                  </div>
            </a>
        </div>
        <div class="list card animated fadeInUp">
            <a class="item item-thumbnail-left" href="#">
                    <img src="img/berangerphotos/img2.jpg">
                    <div class="row row-center item-left">
                        <div class="col">
                            <h2>
                                <span class="crop">
                                    15 days ago in Douala
                                </span>
                            </h2>
                            <p>
                                <span class="crop ">
                            1 Go de RAM, android 5.1, processeur core i3 de 2.1
                                </span>
                            </p>
                            <h2>
                                <span class="negociable">
                                    Negociable
                                </span>
                                <span class=" color right">
                                15000 fcfa
                                </span>
                            </h2>
                        </div>
                  </div>
            </a>
        </div>
        <div class="list card animated fadeInDown">
            <a class="item item-thumbnail-left" href="#">
                    <img src="img/berangerphotos/img3.jpg">
                    <div class="row row-center item-left">
                        <div class="col">
                            <h2>
                                <span class="crop">
                                    15 days ago in Douala
                                </span>
                            </h2>
                            <p>
                                <span class="crop ">
                            1 Go de RAM, android 5.1, processeur core i3 de 2.1
                                </span>
                            </p>
                            <h2>
                                <span class="negociable">
                                    Negociable
                                </span>
                                <span class=" color right">
                                15000 fcfa
                                </span>
                            </h2>
                        </div>
                  </div>
            </a>
        </div>
        <div class="list card animated fadeInUp">
            <a class="item item-thumbnail-left" href="#">
                    <img src="img/berangerphotos/img4.jpg">
                    <div class="row row-center item-left">
                        <div class="col">
                            <h2>
                                <span class="crop">
                                    15 days ago in Douala
                                </span>
                            </h2>
                            <p>
                                <span class="crop ">
                            1 Go de RAM, android 5.1, processeur core i3 de 2.1
                                </span>
                            </p>
                            <h2>
                                <span class="negociable">
                                    Negociable
                                </span>
                                <span class=" color right">
                                15000 fcfa
                                </span>
                            </h2>
                        </div>
                  </div>
            </a>
        </div>
        <div class="list card animated fadeInDown">
            <a class="item item-thumbnail-left" href="#">
                    <img src="img/berangerphotos/img5.jpg">
                    <div class="row row-center item-left">
                        <div class="col">
                            <h2>
                                <span class="crop">
                                    15 days ago in Douala
                                </span>
                            </h2>
                            <p>
                                <span class="crop ">
                            1 Go de RAM, android 5.1, processeur core i3 de 2.1
                                </span>
                            </p>
                            <h2>
                                <span class="negociable">
                                    Negociable
                                </span>
                                <span class=" color right">
                                15000 fcfa
                                </span>
                            </h2>
                        </div>
                  </div>
            </a>
        </div>
        <div class="list card animated fadeInUp">
            <a class="item item-thumbnail-left" href="#">
                    <img src="img/berangerphotos/img6.jpg">
                    <div class="row row-center item-left">
                        <div class="col">
                            <h2>
                                <span class="crop">
                                    15 days ago in Douala
                                </span>
                            </h2>
                            <p>
                                <span class="crop ">
                            1 Go de RAM, android 5.1, processeur core i3 de 2.1
                                </span>
                            </p>
                            <h2>
                                <span class="negociable">
                                    Negociable
                                </span>
                                <span class=" color right">
                                15000 fcfa
                                </span>
                            </h2>
                        </div>
                  </div>
            </a>
        </div>
      </div>
    </ion-content>
</ion-view>