<ion-view view-title="Select a Categories">
    <ion-content>
      <div class="list element">
          <div class="item item-icon-left">
              <i class="icon icon7 ion-android-home"></i>
              All in Real Estate
          </div>
          <div class="list select">
              <a class="item">Lands</a>
              <a class="item">Houses - Apartments for sale</a>
              <a class="item">Office - Shops - Commercial</a>
          </div>
      </div>

    </ion-content>
</ion-view>
