<ion-view view-title="Setting">
    <ion-content>
       <div class="card">
           <div class="list">
               <div class="item" ng-click="openChange()">
                   Location
                   <p>{{homecity}}, {{homecountry}}</p>
               </div>
               <div class="item">
                   Contact US
               </div>
               <div class="item">
                   Help
               </div>
               <div class="item">
                   Terms of Service
               </div>
               <div class="item">
                   About US
               </div>
           </div>
       </div>
    </ion-content>
</ion-view>
