<ion-view view-title="Create an account" align-title="left">
    <ion-content style="background-color: #e4e5e7">
        <div class="card">
            <div class="card">
                <div class="button-positive social-login">
                    <button class="button button-full button-bar-positive ion-social-facebook ">
                        Sign up with Facebook
                    </button>
                </div>
            </div>
        </div>
        <div class="inline"></div>

        <div class="card">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">User</span>
                    <input type="text" placeholder="User">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">E-mail</span>
                    <input type="email" placeholder="Email">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="Password">
                </label>
            </div>
            <div class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Accepts the terms &amp; conditions.
            </div>
            <button class="button button-block button-bar-energized">Sign Up</button>
        </div>
        <div class="item item-divider">
            <div>Already have account? <a class="login" ui-sref="app.login">Log in</a></div>
        </div>
    </ion-content>
</ion-view>

