<ion-modal-view>

      <ion-header-bar class="bar bar-header bar-balanced">
          <button class="button icon-back ion-chevron-left button-clear button-dark" ng-click="closefurniture()"></button>
       <h1 class="title">Home - Furniture - Garden</h1></ion-header-bar>

    </ion-nav-bar>
    <ion-content>
      <div class="list element">
          <div class="list select">
              <a class="item" ng-repeat="item in itemfurniture">

                  {{item}}
              </a>
          </div>
      </div>

    </ion-content>
    </ion-modal-view>
