.expanded {
  background-image: url("../img/login1.jpg");
  background-size: 100%;
  background-position: 0%;
  transition: all .5s ease-in-out;
}
.menu .bar.bar-header.expanded{
  min-height: 100px;
}
.slidebox {
  width: 600%;
  height: 100px;
}
.headmenu {
  top: 100px !important;
}
.locate {
  margin-bottom: 0px;
}
.locate .item .row .mapicon{
    color:  #ff4f0f;
    font-size: 25px;
    margin-right: 5px;
    margin-top: -6px;

}
.locat{
    margin-left: 18%;
}
.locate .item .row .locat a .mapico{
    font-size: 15px;
}
.btnAd .button.icon-left::before {
    float: left;
    padding-right: 0.2em;
    padding-left: 0px;
    width: 80px;
    margin-left: -32px;
    background-color: #f5871f;
    margin-top: -3px;
    height: 51px;
    font-size: 40px;
    border-right: 1px solid white;
}
.btnAd .button{
    border: 3px solid;
}
.headmenu .line {
  border-bottom: 1px solid #d1d3d6;
}
.headmenu .item i {
  width: 15px;
  height: 15px;
}
.welcome {
  bottom: 40px;
  right: 110px;
  left: 80px ;
}
.box img{
  display: inline-block;
  margin-right: 5px;
  width: 100px;
  height: 100px;
}
.btnAd{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -5px;
}
.icon1 {
  color: #04d654;
}.icon2 {
  color: #ff4f0f;
}.icon3 {
  color: #e6b500;
}.icon4 {
  color: #0057e7;
}.icon5 {
  color: #673AB7;
}.icon6 {
  color: #d138c8;
}.icon7 {
  color: aqua;
}.icon8 {
  color: #a6e22e;
}
.last {
  background-color: transparent;
  margin-left: 10px;
  color: #9e9e9e;
}
.element .item, .selectcat .item{
  border-bottom: 1px solid #d1d3d6;
}
.select{
  margin-left: 50px;
}
.app-icon {
  background-color: #fff;
  background: url('../img/logo_app.png') center;
  background-size: cover;
  border-radius: 50%;
  height: 125px;
  margin: 0 auto;
  width: 125px;
}

.app-title h1 {
  color: white;
}
.detail{
    border-width: 0px;
    margin-left: 5px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
}
.infos{
  background-color: blueviolet;
  border-width: 0px;
  margin: 0px;
  padding: 2px;
}
.message{
  background-color: #595959;
  border-width: 0px;
  margin: 0px;
  padding: 2px;
}
.infos p{
  color: #ff4f0f;
  margin-left: 30px;
}
.detail .col{
    margin: -2px;
    padding: 8px;
}
.log {
  background-image: url('../img/login1.jpg');
  background-size: cover;
}
.item-md-label {
   margin-left: 0px;
}
.coul {
   color: #950B02;
}
.alignement{
  margin-left: 10px;
}
.ville .list {
  border-bottom: 1px solid #e1e1e8;
}
.ville {
  margin-bottom: 0px;
}
.post{
  padding-top: 12px;
}
.post-col-text{
 margin: 0px;
}
.couleurText{
  color: #0044cc;
}
.cadre-image > img:first-child{
  border-radius: 5%
}
.dimension-image {
  height: 75px;
  width: 100px;
  align: left;
}
.dimension-image{
  height:75px;
  width:100px;
  align:left;
}

.slideimg img{
  width: 100%;
}

.card {
  margin: 5px;
  padding: 0px;
}
.card {
  box-shadow: 10px 2px 10px 0px rgba(0, 0, 0, 0.26);
}
.card, .list-inset {
  border-radius: 1px;
}
.button.button-block,
.button.button-full {
  margin-top: 0px;
  margin-bottom: 0px;
}
.signUp {
  text-decoration: none;
  text-align: center; color: darkorange;
}
.login {
  text-decoration: none;
  text-align: center; color: red;
}
.item-checkbox {
  text-align: left; color: #4d4d4d;
}
.item-divider {
  color: #4d4d4d;
}
.couleur-text-prix{
  color :orange;
}
.headline{
  border-top: 1px solid #aaaaaa;
}
.nbre span{
  color: #656565;
  margin-top: 5px;
  margin-left: 5px;
}
.nbre{
  padding:1px;
}
.taille1{
  font-size: x-small;
  height: 10px;
  float: left;
  width: 80%;
  border-radius: 100%;
  margin-left: 3px;
}
.fond{
  background-color:#FAFAbc;
}

.taille2{
  font-size: x-small;
  height: 10px;
  float:right;
  width: 90%;
  border-radius: 100%;
  margin-right: 3px;
  font-size: 10px;
}

.dim-btn button{
  font-size: x-small;
  height: 10px;
  float: right;
  border-radius: 100%;
}

.card-color{
    background-color:lightgray;
}

.crop {
    width:1000px;
    word-wrap:break-word;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height:20px;
    line-height:20px;
}

.right{
    float: right;
}

.color{
    color: chocolate;
}

.wrap-content{
    overflow:inherit;
    text-overflow: inherit;
    white-space: pre-wrap;
}

.item-thumbnail-left > img:first-child{
    border-radius: 10%;
}

.negociable{
    float: left;
    font-size: small;
    color: blue;
}

.color span{
    color:chocolate;
    margin-top: 5px;
    margin-left: 5px;
}

.feed-item .feed-gradient-overlay {
  position: absolute;
  background: transparent linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 18%, transparent 48%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.03) 51%, rgba(0, 0, 0, 0.25) 59%, rgba(0, 0, 0, 0.67) 87%, rgba(0, 0, 0, 0.8) 95%, rgba(0, 0, 0, 0.87) 100%) repeat scroll 0% 0%;
  height: 1px;
  bottom: 0px;
  width: 100%;
  z-index: 1;
}
.feed-title{
  margin-top: 0px;
  color: #950B02;
  text-align: right;
}
.subtabs{
  background-color: #ff4f0f;
}
.subtabs .tab-item{
  color:white ;
}
.photo{
  background-image: url('../img/photo.png');
}
.one{
  width: 25px;
  height: 20px;
}
.two{
  width: 25px;
  height: 20px;
}
.three{
  width: 25px;
  height: 20px;
}
.addchoice a{
  text-decoration: none;
}
.addchoice .item{
  border-bottom: 1px solid #d1d3d6;
}
.photoadd{
    height: 250px;
}
.photoadd .content{
  bottom: 60px;
}
.favorite{
  background: url('../img/img_no_favorite.png') center;
  background-size: 100%;
  background-repeat: repeat-x;
}
.user{
  width: 50px;
  border-left: 1px solid #040404;
  padding-left: 20px;
}
.note{
  width: 300px;
}
.note p{
  font-size: 1.3em;
}
.listcountry a{
  text-decoration: none;
}
.listcountry {
  margin-bottom: 0px;
}.listville {
  margin-bottom: 0px;
}
.cardcountry .list .item{
  border-bottom: 1px solid #e1e1e8;
}

.font{
    background-color: #FAFAbc;
}

.font-title{
    margin-top: -10px;
    background-color: #FAFAbc;
    color: blue;
    text-align: center;
}

.font-prix{
    background-color: #FAFAbc;
    color: orangered;
    text-align: center;
}

.font-text{
    background-color: gainsboro;
}

.font-text-date{
    background-color: gainsboro;
    /*text-align: center;*/
    border-top-color:red;
    border-color: red;
}

.font-desc{
    background-color: #FAFAbc;
    padding: 10px;
}
.platform-android .popover{
    border-radius: 10px;
    margin-top: 0px;
}
.platform-android .popover-arrow{
    position: absolute;
    display: block;
    top: -17px;
    width: 30px;
    height: 19px;
    overflow: hidden;
}
.platform-android .popover-arrow::after {
    position: absolute;
    top: 12px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: #FFF;
    border-radius: 3px;
    content: "";
    transform: rotate(-45deg);
}
.popover{
    width:100px ;
    height: 100px;
    left: 270px;
}
.popover-arrow{
    left: 0px;
}
.pop .item{
    margin: 0px;
    padding: 0px;
    min-height: 40px;
}
.pop{
    padding: 0px;
    height: 80px;
    margin-top: -10px;
}
.browse{
    border-radius: 50%;
    background-color: white;
    width: 100px;
    height: 100px;
    padding-top: 20px;
}
.browseby p{
text-align: center;
}
.browseby {
padding-left: 10px;
}
.browse .a i{
    margin-left: 30px;
    font-size: 50px;
}
.main{
    background-color: #ededed;
}
.morelist .item button{
    width: 60px;
    max-height: 28px;
    min-height: 28px;
    padding-left: 5px;
    font-size: 13px;
    text-align: center;
}
.morelist .item-button-right > .button {
    line-height: 0px;
}
.row .col .card .img img{
    width: 140px;
    height: 140px;
    border-radius: 5px 5px 0px 0px;

}
.row .col .card .img {

}
.cardlist .col .card{
    width: 140px;
    height: 190px;
}
.cardlist{
    border-radius: 50px 0px 10px 0px;
}
.tail{
    margin-top: 8px;
    padding-left: 5px;
}
.tail p{
    color:#006600;
}
.tail span{
    font-style: oblique;
    font-weight:bold;
}
.row .col .card img {
    box-shadow: none;
}
.contient .list{
    margin-bottom: 0px;
    height: 40px;
}
/** -----------------------------------------------*/
.bottom-buffer-10 {
    margin-bottom: 2px;
    white-space: nowrap;
}
.bottom-buffer-10 label{
    font-size: 8px;
}
.ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ellipsis span{
    font-size: 12px;
}
.grey, .grey a, a.grey {
    color: #777;
}
.icon-refresh::before {
    content: "";
}
.label-success {
    background-color: #5CB85C;
}
.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 60%;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
div.feat_div {
    background: #FCF8E3 none repeat scroll 0% 0%;
}
.ribbon-box {
    position: relative;
}
.margin-none {
    margin: 0px !important;
}
.padding-top-10 {
    padding-top: 5px;
}
.padding-top-bottom {
    padding: 10px 0px;
}
.border-bottom-grey {
    border-bottom: 1px solid #CCC;
}
.media, .media .media {
    margin-top: 15px;
}
.media, .media-body {
    overflow: hidden;
}
.bg-success {
    background-color: #DFF0D8;
}
.media > .pull-left {
    margin-right: 3px;
}
.pull-left {
    float: left;
}
.pull-left {
    float: left !important;
}
.text-center {
    text-align: center;
}
a {
    color: #428BCA;
    text-decoration: none;
}
a {
    background: transparent none repeat scroll 0px 0px;
}
.media, .media-body {
    overflow: hidden;
}
.text-lowercase {
    text-transform: lowercase;
}
.media-heading {
    margin: 0px 0px 5px;
}
.h3, h3 {
    font-size: 12px;
}
.label-light {
    background-color: #F1F1F1;
    color: #999;
}
.margin-right-5 {
    margin-right: 5px;
}
.font-size-16 {
    font-size: 10px;
}
.margin-right-5 {
    margin-right: 5px;
}
.text-success {
    color: #3C763D;
}
b, strong {
    font-weight: 700;
}
.relative-text-16 {
    background: #F9F9F9 none repeat scroll 0% 0%;
    left: 20px;
    margin-top: -25px;
    opacity: 0.6;
    padding: 2px 5px;
    width: 130px;
}
.relative-text{
    left: 20px;
    margin-top: -25px;
    opacity: 0.6;
    padding: 2px 5px;
    width: 130px;
}
.grey, .grey a, a.grey {
    color: #777;
}
.small, small {
    font-size: 85%;
}
img.left-img-small {
    width: 130px;
    height: 100px;
}
.media-object {
    display: block;
}
.img-thumbnail {
    padding: 4px;
    line-height: 1.42857;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
.text-danger{
    color: red;
}
/** -----------------------------------------------*/
.adprice{
    font-size: 10px;
}

.photo-count {
    background: #CCC none repeat scroll 0px 0px;
    border: 0px none;
    border-radius: 0px;
    font-size: 12px;
    opacity: 0.9;
    padding: 0px 3px;
    position: absolute;
    top:12.5%;
    left: 1.3%;
}
.detaillist .has-header {
    top: 0px;
}
.myhead .bar {
    box-shadow: none;
    background: transparent;
}
/**------------------------------------------*/
.size{
    width: 500px;
    height: 30px;
}
.listad .item{
    border-bottom: 1px solid #000088;
}
.ribbon-title {
    position: relative;
    font-size: 1.5em;
    font-weight: 700;
    margin: 10px 10px 10px -15px;
    padding: 6px 20px 6px 30px;
    color: #FFF;
    background-color: #2887E5;
    text-shadow: 0px 1px 2px #BBB;
    box-shadow: 0px 2px 4px #888;
    width: -moz-max-content;
    min-width: 240px;
}
.ribbon-title::after {
    content: " ";
    position: absolute;
    width: 0px;
    height: 0px;
    left: 0px;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #666 #666 transparent transparent;
}
.title{
    padding: 8px;
}
.bar .title {
    top: -8px;
}
.platform-android .bar .title {
    font-size: 15px;
    text-align: center;
}
.item.item-divider{
    border-top: 0px solid rgba(0, 0, 0, 0.12);
}
.categories {
    border-width: 0px;
    border-bottom: 1px solid #e1e1e8;
}

.pop .item{
    border-bottom: 1px solid #e1e1e8;
}

.popup-container .popup {
    height: 150px;
    background-color: white;
}
.call .item{
    width: 250px;
    height: 50px;
}
.filter-bar .filter-bar-wrapper .item-input-inset .item-input-wrapper .filter-bar-clear {
    box-shadow: none;
}
.platform-android .filter-bar-wrapper .item-input-inset .filter-bar-cancel {
    box-shadow: none;
}
.locationads .card{
    height: 50px;
    padding: 10px;
}
.slidelist{
    background-image: url("../img/map.jpg");
}
.rigth{
    margin-left: 160px;
}
.rig{
    margin-left: 50px;
    color: #E65100;
}
.rigt{
    margin-left: 50px;
}
.rigth span i{
    font-size: 20px;
    color: #bd362f;
}
.block{
    margin-top: 5px;
    background-color: white;
    padding: 10px;
}
.similar{
    margin-top: 5px;
    background-color: white;
}
.block .lines{
    border-bottom: 1px solid #a2a2a2;
    margin-bottom: 15px;
}
.space span{
    margin-bottom: 5px;
}
.addesc{
    margin-left: 5px;
}
.descrip{
    padding:10px;
}
.descrip strong{
    margin-left: 90px;
}
.author{
    background-color: #e6e6e6;
    padding-top: 15px;
    padding-bottom: 5px;
}
.author .cont{
    padding-left: 100px;
}
.author .attach{
    text-align: center;
    color: #0057e7;
}
.browser{
    border-radius: 50%;
    background-color: white;
    width: 100px;
    height: 100px;
    padding-top: 20px;
}
.browsey p{
    margin-left: 20px;
}
.browsey {
    padding-left: 10px;
}
.browser .a i{
    margin-left: 30px;
    font-size: 50px;
    color: #000088;
}
.categories {
    border-width: 0px;
    border-bottom: 1px solid #e1e1e8;
}
.plan{
    height: 150px;
    width: 93%;
    border: 5px solid #008800;
    margin-left: 12px;
}