.expanded {
  background-image: url("../img/login1.jpg");
  background-size: 100%;
  background-position: 0%;
  transition: all .5s ease-in-out;
}
.menu .bar.bar-header.expanded{
  min-height: 100px;
}
.slidebox {
  width: 600%;
  height: 100px;
}
.headmenu {
  top: 100px !important;
}
.locate {
  margin-bottom: 0px;
  height: 64px;
}
.headmenu .line {
  border-bottom: 1px solid #d1d3d6;
}
.headmenu .item i {
  width: 15px;
  height: 15px;
}
.welcome {
  bottom: 40px;
  right: 110px;
  left: 80px ;
}
.box img{
  display: inline-block;
  margin-right: 5px;
  width: 100px;
  height: 100px;
}
.btnAd{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -15px;
}
.icon1 {
  color: #04d654;
}.icon2 {
  color: #ff4f0f;
}.icon3 {
  color: #e6b500;
}.icon4 {
  color: #0057e7;
}.icon5 {
  color: #673AB7;
}.icon6 {
  color: #d138c8;
}.icon7 {
  color: aqua;
}.icon8 {
  color: #a6e22e;
}
.item-divider {
  background-color: transparent;
  margin-left: 10px;
}
.element .item, .selectcat .item{
  border-bottom: 1px solid #d1d3d6;
}
.select{
  margin-left: 50px;
}
.app-icon {
  background-color: #fff;
  background: url('../img/ionic.png') center;
  background-size: cover;
  border-radius: 50%;
  height: 125px;
  margin: 0 auto;
  width: 125px;
}

.app-title h1 {
  color: white;
}
.detail{
  background-color: darkmagenta;
  border-width: 0px;
  margin: 0px;
  padding: 10px;
  margin-top: -6px;
}
.detail .col{
  color: #ff4f0f;
  text-align: center;
  padding: 3px;
}
.log {
  background-image: url('../img/login1.jpg');
  background-size: cover;
}
.item-md-label {
   margin-left: 0px;
}
.coul {
   color: #950B02;
}
.tcol{
  color: white;
}


.alignement{
  margin-left: 10px;
}
.post{
  padding-top: 12px;
}
.post-col-text{
 margin: 0px;
}
.couleurText{
  color: #0044cc;
}
.cadre-image > img:first-child{
  border-radius: 5%
}
.dimension-image{
  height:75px;
  width:100px;
  align:left;}
.slideimg img{
  width: 100%;
  height: 200px;
}

.card {
  margin: 5px;
  padding: 0px;
}
.card {
  box-shadow: 10px 2px 10px 0px rgba(0, 0, 0, 0.26);
}
.card, .list-inset {
  border-radius: 1px;
}
.button.button-block,
.button.button-full {
  margin-top: 0px;
  margin-bottom: 0px;
}
.signUp {
  text-decoration: none;
  text-align: center; color: darkorange;
}
.login {
  text-decoration: none;
  text-align: center; color: red;
}
.item-checkbox {
  text-align: left; color: #4d4d4d;
}
.item-divider {
  text-align: center;
  color: #4d4d4d;
}
.couleur-text-prix{
  color :orange;
}
.headline{
  border-top: 1px solid #aaaaaa;
}
.nbre span{
  color: #656565;
  margin-top: 5px;
  margin-left: 5px;
}
.nbre{
  padding:1px;
}
.taille-btn button{
  font-size: x-small;
  height: 10px;
  width: 100%;
  margin-left: 3px;
}
.fond{
  background-color:#FAFAbc;
}


