.expanded {
  background:royalblue;
  background-size: 100%;
  background-position: 0%;
  transition: all .5s ease-in-out;
}
.slidebox {
  width: 600%;
  height: 100px;
}
.box img{
  display: inline-block;
  margin-right: 5px;
  width: 100px;
  height: 100px;
}
.btnAd{
  margin: 10px;
}
.icon1 {
  color: #04d654;
}.icon2 {
  color: #ff4f0f;
}.icon3 {
  color: #e6b500;
}.icon4 {
  color: #0057e7;
}.icon5 {
  color: #673AB7;
}.icon6 {
  color: #d138c8;
}.icon7 {
  color: aqua;
}.icon8 {
  color: #a6e22e;
}
.item-divider {
  background-color: transparent;
  margin-left: 10px;
}
.element .item, .selectcat .item{
  border-bottom: 1px solid #d1d3d6;
}
.select{
  margin-left: 50px;
}
.app-icon {
  background-color: #fff;
  background: url('../img/ionic.png') center;
  background-size: cover;
  border-radius: 50%;
  height: 125px;
  margin: 0 auto;
  width: 125px;
}

.app-title h1 {
  color: white;
}
.log {
  background-image: url('../img/login1.jpg');
  background-size: cover;
}
.item-md-label {
   margin-left: 0px;
}

.alignement{
  margin-left: 10px;
}
.post{
  padding-top: 5px;
}
.post-col-text{
  padding-top: 12px;
}
.couleurText{
  color: #0044cc;
}
.cadre-image > img:first-child{
  border-radius: 5%
}
.dimension-image{
  height:75px;
  width:100px;
  align:left;
}


